.p-5 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
}

#flockingDiv {
    animation: transitionIn2 2s forwards;
}

#i1 {
    animation: transitionIn 0.75s forwards;
    animation-delay: 0s;
}

#i2 {
    animation: transitionIn 0.75s forwards;
    animation-delay: 0.15s;
}

#i3 {
    animation: transitionIn 0.75s forwards;
    animation-delay: 0.30s;
}

#i4 {
    animation: transitionIn 0.75s forwards;
    animation-delay: 0.45s;
}

#i5 {
    animation: transitionIn 0.75s forwards;
    animation-delay: 0.60s;
}

#i6 {
    animation: transitionIn 0.75s forwards;
    animation-delay: 0.75s;
}

#i7 {
    animation: transitionIn 0.75s forwards;
    animation-delay: 0.90s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes transitionIn2 {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(31, 31, 31, 0.7);
    }
}


