.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    max-width: 650px;
}

.appear1 {
    opacity: 0;
    animation: transitionIn1 0.75s forwards;
    animation-delay: 0s;
}

.appear2 {
    opacity: 0;
    animation: transitionIn 0.75s forwards;
    animation-delay: 0.2s;
}

.appear3 {
    opacity: 0;
    animation: transitionIn 0.75s forwards;
    animation-delay: 0.4s;
}

.appear4 {
    opacity: 0;
    animation: transitionIn 0.75s forwards;
    animation-delay: 0.6s;
}

.appear5 {
    opacity: 0;
    animation: transitionIn 0.75s forwards;
    animation-delay: 0.8s;
}

.appear6 {
    opacity: 0;
    animation: transitionIn 0.75s forwards;
    animation-delay: 1s;
}

.appear7 {
    opacity: 0;
    animation: transitionIn 0.75s forwards;
    animation-delay: 1.2s;
}

.appear8 {
    opacity: 0;
    animation: transitionIn 0.75s forwards;
    animation-delay: 1.4s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes transitionIn1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body .container-p {
    max-width: 10000px;
}

body .container-p .row{
    justify-content: center;
    align-items: top;
}

body .container-p .card-header{
    width: 300px;
    transform: translateX(-12px);
}
body .container-p .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 25px 25px;
    background: #000;
    border-radius: 15px;
    border-width: 0px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
body .container-p .card .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container-p .card .face.face1 {
    box-sizing: border-box;
    padding: 20px;
}
body .container-p .card .face.face1 h2 {
    margin: 0;
    padding: 0;
}
body .container-p .card .face.face1 .java {
    background-color: #ccf7ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

body .container-p .card .face.face1 .python {
    background-color: #c6cfff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body .container-p .card .face.face1 .cSharp {
    background-color: #cdfff0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body .container-p .card .face.face2 {
    transition: 0.5s;
}
body .container-p .card .face.face2 h1 {
    margin: 40px;
    padding: 0;
    font-size: 30px;
    color: #fff;
    transition: 0.5s;
    text-shadow: 2px 2px 2px black;
    z-index: 10;
}
body .container-p .card .face.face2 h2 {
    margin: 40px;
    padding: 0;
    font-size: 30px;
    color: #fff;
    transition: 0.5s;
    text-shadow: 2px 2px 2px black;
    z-index: 10;
}
body .container-p .card:hover .face.face2 {
    height: 60px;

}
body .container-p .card:hover .face.face2 h1 {
    font-size: 18px;
    margin: 0;
}
body .container-p .card:hover .face.face2 h2 {
    font-size: 24px;
    margin: 0;
}
body .container-p .card:nth-child(1) .face.face2 {  
    border-radius: 15px;
}
body .container-p .card:nth-child(2) .face.face2 {
    border-radius: 15px;
}
body .container-p .card:nth-child(3) .face.face2 {
    border-radius: 15px;
}
body .container-p .card:nth-child(4) .face.face2 {
    border-radius: 15px;
}
body .container-p .card:nth-child(5) .face.face2 {  
    border-radius: 15px;
}
body .container-p .card:nth-child(6) .face.face2 {
    border-radius: 15px;
}
body .container-p .card:nth-child(7) .face.face2 {
    border-radius: 15px;
}


.button-28 {
    appearance: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin: 7px;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: scale(1.1,1.1);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }

  body .container-p p{
    color: white;
    font-family: arial;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  
  .scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid black;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid black;
      border-width: 0px 0 2px 2px;
  }
  
  .scroll-down-2 {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down-2 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid white;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  
  .scroll-down-2:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }