.p-5 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    margin: 0;
}

.body {
    background-size: 100%;
}


.apppear1 {
    opacity: 0;
    animation: transitionIn4 0.75s forwards;
    animation-delay: 0s;
}

.apppear2 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 0.15s;
}

.apppear3 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 0.30s;
}

.apppear4 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 0.45s;
}

.apppear5 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 0.60s;
}

.apppear6 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 0.75s;
}

.apppear7 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 0.9s;
}

.apppear8 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 1.05s;
}

.apppear9 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 1.2s;
}

.apppear10 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 1.35s;
}

.apppear11 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 1.5s;
}

.apppear12 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 1.65s;
}

.apppear13 {
    opacity: 0;
    animation: transitionIn3 0.75s forwards;
    animation-delay: 1.8s;
}

@keyframes transitionIn3 {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transitionIn4 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}